extends base.pug
include mixins/video


block content
    div.video__grid
        each videovideo in videos
            +video(videovideo)

        else
            span.empty__message Sorry, Nothing Found